@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Epilogue', sans-serif;
}

.homepage{
  height: 100vh;
  height: 100svh;
}

html.dark{
  background-color: #1d1d1d;
}

html{
  background-color: #e2e2e2;
}

html.dark .placeholder{
  background-image: linear-gradient(
      to right,
      #121212 0%,
      #2b2b2b 20%,
      #121212 40%,
      #121212 100%
  ) !important;
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

html .placeholder{
  background-image: linear-gradient(
      to right,
      #cacaca 0%,
      #a3a3a3 20%,
      #cacaca 40%,
      #cacaca 100%
  ) !important;
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

html.dark .inverted-placeholder{
  background-image: linear-gradient(
      to right,
      #cacaca 0%,
      #a3a3a3 20%,
      #cacaca 40%,
      #cacaca 100%
  ) !important;
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

html .inverted-placeholder{
  background-image: linear-gradient(
      to right,
      #121212 0%,
      #2b2b2b 20%,
      #121212 40%,
      #121212 100%
  ) !important;
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.win{
  @apply border-[#5382e8] bg-[#ecf2ff] dark:bg-[#28344e] p-5 flex border-l-4 items-center justify-between grow
}

.loss{
  @apply border-[#E84057] bg-[#fff0f3] dark:bg-[#59343b] p-5 flex border-l-4 items-center justify-between grow
}

.remake{
  @apply border-[#9090a2] bg-[#f7f7f9] dark:bg-[#515161] p-5 flex border-l-4 items-center justify-between grow
}

.item{
  @apply w-[27px] h-[27px]
}

html th, html td, html tr{
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

html.dark th, html.dark td, html.dark tr{
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

html th{
  background-color: #e5e5e5;
}

html tr{
  background-color: #e0e0e0;
}

html.dark th{
  background-color: #282830;
}

html.dark tr{
  background-color: #31313C;
}

.link{
  color: white;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

html *{
  scrollbar-width: auto;
  scrollbar-color: #1d1d1d #ededed;
}

html *::-webkit-scrollbar-track{
  background: #ededed;
}

html *::-webkit-scrollbar-thumb{
  background-color: #1d1d1d;
  border-radius: 20px;
  border: 3px solid #ededed;
}

html.dark *{
  scrollbar-width: auto;
  scrollbar-color: #e2e2e2 #1a1a1a;
}

html.dark *::-webkit-scrollbar-track{
  background: #1a1a1a;
}

html.dark *::-webkit-scrollbar-thumb{
  background-color: #e2e2e2;
  border-radius: 20px;
  border: 3px solid #1a1a1a;
}

*::-webkit-scrollbar{
  width: 16px;
}

@keyframes bgPos {
  0% {
      background-position: 50% 0;
  }

  100% {
      background-position: -150% 0;
  }
}