@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Epilogue', sans-serif;
}

.homepage{
  height: 100vh;
  height: 100svh;
}